*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu Condensed', sans-serif;
    background-color: #f6f8f9;
    /* background-color: grey;  DA ELIMINARE */
}
/* COMMON */

.container{
    width: 60vw;
    margin: 0 auto;
    padding: 10px 25px 20px;
    background-color: #ffffff;
}
/* HEADER  */
.head{
    height: 60px;
    line-height: 60px;

    padding-left: 15px;
    background-color: #ffffff;
}

.head > h1{
    vertical-align: middle;
    display: inline-block;
}

.logo{
    vertical-align: middle;
    height: 90%;
}

/* NAV  */
nav .container{
    margin-top: 30px;
}

nav .button{
    margin-right: 5px;
    padding: 6px;
    border: 0;
    border-radius: 5px;
    font-size: 11px;
}

.button.task{
    color: white;
    background-color: #47adf1;
}

.button.selection{
    color: lightgray;
    background-color: white;
}

/* MAIN  */
.list{
    list-style-type: none;
}
.list > li > h2{
    font-size: 18px;
}

.circle{
    margin-right: 11px;
    font-size: 9px;
    border: 2px solid black;
    border-radius: 50%;
    padding: 2px;
}
.check:before{
    content: '\2713';
}

.circle.check{
    border-color: green;
    color: green;
}

.cross:before{
    content: '\2717';
}
.circle.cross{
    border-color: red;
    color: red;
}

.list-elements{
    margin: 15px 0;
    font-size: 15px;
}

.lable{
    margin-left: 5px;
    padding: 6px;
    border-radius: 10px;
    font-size: 10px;
    color: #ffffff;
}

/* label colors */
.lable.editorial{
    background-color: #47adf1;
}
.lable.goals{
    background-color: #9c72e4;
}
.lable.recruting{
    background-color: #64c0a9;
}
.lable.mobile{
    background-color: #f29e33;
}
.lable.website{
    background-color: #d863a1;
}
.lable.sales{
    background-color: #b0c926;
}