*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu Condensed', sans-serif;
    background-color: #f6f8f9;
    background-color: grey; /*  DA ELIMINARE*/
}
/* COMMON */

.container{
    width: 75vw;
    margin: 0 auto;
    padding: 10px 25px 20px;
    background-color: #ffffff;
}
/* HEADER  */
.head{
    height: 60px;
    line-height: 60px;

    padding-left: 15px;
    background-color: #ffffff;
}

.head > h1{
    vertical-align: middle;
    display: inline-block;
}

.logo{
    vertical-align: middle;
    height: 90%;
}

/* NAV  */
nav .container{
    margin-top: 30px;
}

nav .button{
    margin-right: 5px;
    padding: 6px;
    border: 0;
    border-radius: 5px;
    font-size: 11px;
}

.button.task{
    color: white;
    background-color: #47adf1;
}

.button.selection{
    color: lightgray;
    background-color: white;
}

/* MAIN  */
.list{
    list-style-type: none;
}
.main-list > li{
    font-size: 14px;
}
.circle{
    font-size: 9px;
    border: 2px solid black;
    border-radius: 50%;
    padding: 2px;
}
.check:before{
    content: '\2713';
}

.circle.check{
    border-color: green;
    color: green;
}

.cross:before{
    content: '\2717';
}
.circle.cross{
    border-color: red;
    color: red;
}